<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SearchService_v18Soap">
                    <security mode="Transport" />
                </binding>
                <binding name="SearchService_v18Soap1" />
                <binding name="SearchService_v27Soap">
                    <security mode="Transport" />
                </binding>
                <binding name="SearchService_v27Soap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://svc.datazoo.co.nz/SearchService_v18.asmx"
                binding="basicHttpBinding" bindingConfiguration="SearchService_v18Soap"
                contract="KmsServices.SearchService_v18Soap" name="SearchService_v18Soap" />
            <endpoint address="https://svc.datazoo.co.nz/SearchService_v27.asmx"
                binding="basicHttpBinding" bindingConfiguration="SearchService_v27Soap"
                contract="V27Production.SearchService_v27Soap" name="SearchService_v27Soap" />
        </client>
    </system.serviceModel>
</configuration>